<h1>Mida su resistencia</h1>
<table>
  <thead>
    <tr>
      <th>seleccionar</th>
      <th>color</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>radiob</td>
      <td>negro</td>
    </tr>
    <tr>
      <td>radiob</td>
      <td>cafe</td>
    </tr>
    <tr>
      <td>radiob</td>
      <td>rojo</td>
    </tr>
    <tr>
      <td>radiob</td>
      <td>naranja</td>
    </tr>
    <tr>
      <td>radiob</td>
      <td>amarillo</td>
    </tr>
    <tr>
      <td>radiob</td>
      <td>verde</td>
    </tr>
    <tr>
      <td>radiob</td>
      <td>azul</td>
    </tr>
    <tr>
      <td>radiob</td>
      <td>morado</td>
    </tr>
    <tr>
      <td>radiob</td>
      <td>gris</td>
    </tr>
    <tr>
      <td>radiob</td>
      <td>blanco</td>
    </tr>
  </tbody>
</table>
